@font-face {
  font-family: "MinecraftTen";
  src: url("/MinecraftTen-VGORe.ttf") format("truetype");
}

body {
  background-color: #5d8aa8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

.container {
  text-align: center;
  font-family: "MinecraftTen";
  color: #263a48;
}

dialog {
  border-radius: 10px;
  border-color: #5d8aa8;
  box-shadow: 0px 0px 25px #000000;
  animation: 0.13s appear;
  background-color: #486b85;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
}

@keyframes appear {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}
