@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Schriftart für alles festlegen */
* {
  font-family: "Kanit";
  background-color: #fff;
}

/* Ladebildschirm */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid rgb(110, 111, 111);
  border-right-color: rgb(0, 0, 0);
  animation: l2 0.7s infinite linear;
  margin: 46vh auto;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 45vh auto;
}
