@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

html,
body {
  height: 100%;
  background-color: var(--bgclr);
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.container {
  font-family: "Boldonse";
  color: var(--prfontclr);
  height: 100%;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 10px;
  font-family: "Boldonse";
  color: var(--prfontclr);
}

h1 {
  margin-bottom: 0px;
  margin-top: 75px;
  margin-right: 50px;
  margin-left: 75px;
}

h3,
h4,
h5 {
  margin-right: 75px;
  margin-left: 75px;
}

button {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  font-family: "Boldonse";
  background-color: var(--btnbgclr);
  border: var(--prbd);
  border-radius: 8px;
  color: var(--btnfontclr);
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--btnhovclr);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
  background-color: var(--btnfocclr);
}
