@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

html,
body {
  background-color: #5d8aa8;
  height: 99%;
}

footer {
  text-align: center;
  font-family: "Boldonse";
}

.maintext {
  font-family: "Boldonse";
  color: #003262;
}

/* Hauptcontainer */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Wichtig für den Footer */
}

.text {
  font-family: "Boldonse";
  color: #003262;
}

.show {
  padding-left: 60px;
  padding-top: 60px;
  flex: 1;
}

#changintext {
  text-align: left;
}

#registerbtn {
  padding: 10px;
  text-align: center;
  color: #003262;
  font-family: "Boldonse";
  cursor: pointer;
  border: 1.9px solid #2164a6;
  border-radius: 8px;
  background-color: #318ce7;
  transition: 0.2s;
}

#registerbtn:hover {
  background-color: #2a70b6;
  transform: scale(1.05);
}

#registerbtn:active {
  transform: scale(0.95);
  background-color: #235587;
}

@keyframes appear {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
