:root {
  --bgclr: #72a0c1;
  --prfontclr: #2a3f4d;
  --prbdrad: 8px;
  --btnbgclr: #486c84;
  --prbd: 1.9px solid #5a86a3;
  --btnfontclr: #20313d;
  --btnhovclr: #40637a;
  --btnfocclr: #3c596c;
  --trackclr: #3c596c;
}
